/* 1128 line css code */

body{
	font-family: 'Poppins', sans-serif;
}

.heart{
	color: red;
}

.left{
	margin-left: 5px;
	color: white;
}

.align{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: url(pic23.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

*{
	margin: 0px ;
}

.gap{
	font-size: 5px;
	color: white;
}

.link{
	text-decoration: none;
}

.font{
	display: flex;
}

.a2{
	margin-left: 10px;
}

.a3{
	text-decoration: none;
}

.common{
	font-size: 17px;
}

.justify{
	width: 330px;
	height: 480px;
	border-radius: 10px;
	margin-left: 30px;
	margin-top: 30px;
}

/*---------------------------------*/

.hr1{
	margin-left: 10px;
	margin-right: 10px;
}

.hr2{
	margin-left: 10px;
	margin-right: 10px;
}

/*---------------------------------*/

.Starting{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background: #F6F8FB;
}

.Starting .btn{
	width: 195px;
	margin-left: 43px;
}

.Starting .btn a{
	color: white;
	font-size: 18px;
	background: linear-gradient(180deg, #3D66B0 0%, #0F1D41 100%);
	border-radius: 50px;
	padding: 12px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	border: none;
	transition: 1s;
}

.btn a:hover{
	box-shadow: rgb(200, 128, 256) 0px 7px 80px 0px ;
}

/*---------------------------------*/

.section0{
	width: 100%;
	height: 650px;
}

.section1{
	width: 100%;
	height: 700px;
	background: #F8F9FC;
}

.section2{
	background: white;
	width: 100%;
	height: 280px;
}

.section3{
	background: url(pic10.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 750px;
}

.section4{
	width: 100%;
	height: 850px;
}

.section5{
	background: #F8F9FC;
	width: 100%;
	height: 700px;
}

.section6{
	background: #DFEEFF;
	width: 100%;
	height: 1300px;
}

.section7{
	background: white;
	width: 100%;
	height: 750px;
}

.section8{
	width: 100%;
	height: 930px;
	background: #F8F9FC;
}

.section9{
	width: 100%;
	height: 1190px;
	background: url(pic26.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*---------------------------------*/

.div0{
	background: #F6F8FB;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 220px;
}

.div001{
	background: linear-gradient(180deg, #3D66B0 0%, #0F1D41 100%);
	width: 150px;
	height: 53px;
	margin-left: 50px;
}

.div1{
	display: flex;
}

.div11{
	width: 120px;
	height: 120px;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px;
	background: #D18700;
	border-bottom-right-radius: 100%;
}

.div12{
	width: 890px;
	margin-left: 190px;
}

.div2{
	display: flex;
	width: 1230px;
	height: 500px;
	margin-left: 100px;
}

.div21{
	display: grid;
	grid-template-columns: auto auto ;
	grid-column-gap: 25px;
	grid-row-gap: 0px;
}

.div211{
	width: 252px;
	height: 200px;
	background: white;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 0px;
	border-radius: 7%;
	box-shadow: rgba(128, 128, 128, 0.1) 0px 0px 3px 3px;
	transition: 0.5s;
}

.div211:hover{
	box-shadow: rgb(192, 192, 192, 0.3) 0px 0px 10px 10px;
}

.div212{
	width: 252px;
	height: 200px;
	background: white;
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 7%;
	box-shadow: rgba(128, 128, 128, 0.1) 0px 0px 3px 3px;
	transition: 0.5s;
}

.div212:hover{
	box-shadow: rgb(192, 192, 192, 0.3) 0px 0px 10px 10px;
}

.div213{
	width: 252px;
	height: 200px;
	background: white;
	margin-left: 15px;
	margin-top: 0px;
	border-radius: 7%;
	box-shadow: rgba(128, 128, 128, 0.1) 0px 0px 3px 3px;
	transition: 0.5s;
}

.div213:hover{
	box-shadow: rgb(192, 192, 192, 0.3) 0px 0px 10px 10px;
}

.div214{
	width: 252px;
	height: 200px;
	background: linear-gradient(180deg, #3D66B0, #0F1D41);
	margin-left: 15px;
	margin-top: 0px;
	border-radius: 7%;
	box-shadow: rgba(128, 128, 128, 0.1) 0px 0px 3px 3px;
	transition: 0.5s;
}

.div214:hover{
	box-shadow: rgb(192, 192, 192, 0.3) 0px 0px 10px 10px;
}

.div214 a{
	color: #154679;
	font-size: 12px;
	background: #FDFCFF;
	border-radius: 50px;
	padding: 8px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	border: none;
	margin-left: 30px;
	margin-right: 30px;
	transition: 0.3s;
}

.div214 a:hover{
	color: white;
	background: linear-gradient(180deg, #3D66B0, #0F1D41);
	box-shadow: rgba(61, 102, 176, 0.5) 0px 0px 5px 0px;
}

.div3{
	display: flex;
	justify-content: center;
	align-items: center;
}

.div4{
	display: flex;
	justify-content: center;
	align-items: center;
}

.div5{
	background: linear-gradient(180deg, #4F8FF1 0%, #2B59FF 84.9%);
	border-radius: 20px;
	width: 830px;
	height: 170px;
	margin-left: 520px;
	display: flex;
}

.div51{
	width: 230px;
	height: 170px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	margin-left: 20px;
}

.div52{
	width: 170px;
	height: 170px;
}

.div53{
	width: 230px;
	height: 170px;
}

.div54{
	width: 130px;
	height: 170px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.div6{
	margin-left: 170px;
}

.div60{
	display: flex;
}

.div61{
	display: flex;
}

.div611{
	width: 240px;
}

.div611 a{
	color: white;
	font-size: 18px;
	background: linear-gradient(180deg, #EEAC1F 0%, #E97D24 99.99%, rgba(238, 172, 31, 0) 100%);
	border-radius: 50px;
	padding: 12px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	border: none;
	transition: 1s;
}

.div611 a:hover{
	box-shadow: #FFC55C 0px 7px 80px 3px ;
}

.div612{
	width: 260px;
	margin-left: 10px;
}

.div612 a{
	color: white;
	font-size: 18px;
	background: linear-gradient(180deg, #3D66B0 0%, #0F1D41 100%);
	border-radius: 50px;
	padding: 12px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	border: none;
	transition: 1s;
}

.div612 a:hover{
	box-shadow: rgb(200, 128, 256) 0px 7px 80px 3px ;
}

.div7{
	width: 580px;
	height: 380px;
	margin-left: 50px;

}

.div8{
	display: flex;
}

.div9{
	display: flex;
}

.div91{
	width: 400px;
	height: 550px;
	border: 2px solid #DEE6F2;
	border-radius: 10px;
	margin-left: 80px;
	transition: 1s;
}

.div92{
	width: 400px;
	height: 550px;
	border: 2px solid #DEE6F2;
	border-radius: 10px;
	margin-left: 20px;
	transition: 1s;
}

.div93{
	width: 400px;
	height: 550px;
	border: 2px solid #DEE6F2;
	border-radius: 10px;
	margin-left: 20px;
	transition: 1s;
}

.div91:hover, .div92:hover, .div93:hover{
	box-shadow: rgba(222, 210, 242, 0.5) 0px 0px 25px 5px;
}

.div911{
	width: 300px;
	height: 400px;
	margin-left: 50px;
	margin-top: 50px;
}

.div9111{
	width: 180px;
}

.div9111 a{
	color: navy;
	font-size: 17px;
	background: white;
	border-radius: 450px;
	padding: 10px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	border: 3px solid navy;
	transition: 1s;
}

.div9111 a:hover{
	background: linear-gradient(180deg, #3D66B0, #0F1D41);
	color: white;
	border: none;
}

.div912{
	width: 300px;
	height: 400px;
	margin-left: 50px;
	margin-top: 50px;
}

.div913{
	width: 300px;
	height: 400px;
	margin-left: 50px;
	margin-top: 50px;
}

.div10{
	display: flex;
	align-items: center;
	justify-content: center;
}

.div011{
	display: flex;
}

.div012{
	margin-left: 100px;
	width: 1318px;
}

.div0121{
	display: flex;
}

.div01211{
	width: 322px;
	height: 500px;
	transition: 0.6s;
}

.div01212{
	width: 322px;
	height: 500px;
	margin-left: 10px;
	transition: 0.6s;
}

.div01213{
	width: 322px;
	height: 500px;
	margin-left: 10px;
	transition: 0.6s;
}

.div01214{
	width: 322px;
	height: 500px;
	margin-left: 10px;
	transition: 0.6s;
}

.div0122{
	display: flex;
}

.div01221{
	width: 322px;
	height: 500px;
	transition: 0.6s;
}

.div01222{
	width: 322px;
	height: 500px;
	margin-left: 10px;
	transition: 0.6s;
}

.div01211:hover, .div01212:hover, .div01213:hover, .div01214:hover, .div01221:hover, .div01222:hover{
	font-size: 130%;
	box-shadow: rgba(222, 210, 242, 8.0) 0px 0px 20px 5px;
	background: white;
	width: 350px;
}

.div013{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.div017{
	width: 1218px;
	height: 540px;
	display: flex;
	margin-left: 150px;
}

.div014{
	margin-left: 10px;
	width: 390px;
	height: 540px;
	background: white;
	border-radius: 10px;
	box-shadow: lightgray 0px 0px 0px 0.01px;
	transition: 0.5s;
}

.div015{
	margin-left: 15px;
	width: 390px;
	height: 540px;
	background: white;
	border-radius: 10px;
	box-shadow: lightgray 0px 0px 0px 0.01px;
	transition: 0.5s;
}

.div016{
	margin-left: 15px;
	margin-right: 10px;
	width: 390px;
	height: 540px;
	background: white;
	border-radius: 10px;
	box-shadow: lightgray 0px 0px 0px 0.01px;
	transition: 0.5s;
}

.div014:hover, .div015:hover, .div016:hover{
	box-shadow: rgba(137, 196, 244, 1) 0px 0px 50px 1px;
	background: rgb(46, 89, 87);
	color: white;
}

.div0191{
	width: 240px;
	margin-left: 630px;
}

.div0191 a{
	color: black;
	font-size: 18px;
	background: #ffc107;
	border-radius: 10px;
	padding: 12px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 400x;
	border: none;
}

.div018{
	display: flex;
	width: 1318px;
	height: 500px;
	margin-left: 100px;
}

.div0181{
	width: 190px;
	height: 500px;
	margin-left: 65px;
}

.div0182{
	width: 230px;
	height: 500px;
	margin-left: 110px;
}


.div0183{
	width: 200px;
	height: 500px;
	margin-left: 70px;
}


.div0184{
	width: 200px;
	height: 500px;
	margin-left: 110px;
}

.div023{
	display: flex;
}

.div021{
	display: flex;
}

.div025{
	width: 1240px;
	border-left: 2px solid navy ;
	border-right: 2px solid navy ;
	margin-left: 10px;
	margin-right: 10px;
}

.div020{
	width: 70px;
	height: 70px;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.div022{
	width: 70px;
	height: 70px;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 5px;
}

.div024{
	margin-left: 10px;
}

/*---------------------------------*/

.h11{
	text-align: center;
	font-size: 45px;
	margin-top: 0px;
	color: #0e1133;
	font-weight: 600;
}

.h12{
	margin-right: 150px;
}

.h13{
	margin-left: 120px;
	margin-right: 50px;
}

.h14{
	color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
}

.h15{
	color: white;
	opacity: 0.7;
	font-size: 15px;
	text-align: center;
	margin-top: 5px;
}

.h16{
	font-size: 55px;
	font-family: revert-layer;
	font-weight: 900;
}

.h17{
	color: blue;
	text-align: center;
	font-size: 20px;
}

.h18{
	color: black;
	text-align: center;
	font-size: 50px;
}

.h19{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.h110{
	text-align: center;
	margin-left: 512px;
	font-size: 50px;
	font-weight: bold;
}

.h111{
	margin-top: 17px;
	text-align: center;
}

.h112{
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.h31{
	color: #EEAC1F;
	text-align: center;
	margin-bottom: 0px;
}

.h32{
	color: lightgreen;
}

.h33{
	color: orange;
}

.h34{
	color: red;
}

.h35{
	color: #EEAC1F;
	text-align: center;
}

.h41{
	color: gray;
}

.h51{
	font-size: 15px;
	color: #262729;
	opacity: 0.6;
}

.h61{
	color: white;
}

/*---------------------------------*/3

.img1{
	margin-left: 80px;
}

.img2{
	margin-top: 15px;
	margin-left: 80px;
}

.img3{
	margin-top: 15px;
	margin-left: 80px;
}

.img4{
	margin-top: 15px;
	margin-left: 80px;
}

.img5{
	margin-right: 50px;
}

.img6{
	margin-left: 100px;
	margin-right: 40px;
}

.img7{
	margin-left: 20px;
}

.img8{
	float: right;
}

.img9{
	margin-left: 20px;
}

.img10{
	margin-left: 140px;
}

.img11{
	float: right;
}

.img12{
	margin-bottom: 800px;
}

.img13{
	margin-left: 470px;
}

.img21{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/*---------------------------------*/

.sp1{
	color: gray;
	font-size: 10px;
	margin-left: 20px;
}

.sp2{
	color: gray;
	font-size: 10px;
	margin-left: 20px;
}

.sp3{
	color: gray;
	font-size: 10px;
	margin-left: 20px;
}

.sp4{
	margin-left: 20px;
	font-weight: bold;
}

.sp5{
	margin-left: 20px;
	font-weight: bold;
}

.sp6{
	margin-left: 20px;
	font-weight: bold;
}

.sp7{
	color: white;
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
	font-size: 14px;
	font-weight: bold;
}

.sp8{
	color: orange;
	font-size: 15px;
	margin-left: 20px;
}

.div211:hover .sp9{
	margin-left: 10px;
	transition: 0.5s;
}

.div212:hover .sp10{
	margin-left: 10px;
	transition: 0.5s;
}

.div213:hover .sp11{
	margin-left: 10px;
	transition: 0.5s;
}

.div214:hover .sp12{
	margin-left: 10px;
	transition: 0.5s;
}

.sp13{
	font-size: 50px;
}

.sp14{
	font-size: 30px;
	color: grey;
}

.sp16{
	color: #bcccfc;
}

.sp15{
	color: white;
	transition: 0.8s;
}

.sp15:hover{
	color: #bcccfc;
}

/*---------------------------------*/

.p1{
	font-size: 10px;
	color: black;
	font-weight: bold;
	margin-left: 30px;
}

.p2{
	font-size: 13px;
	color: white;
	text-align: center;
}

.p3{
	color: blue;
	font-size: 3px;
	text-decoration: none;
}

.p4{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-weight: 400;
}

.p4:hover{
	color: lightgreen;
	font-weight: bold;
}

.p5{
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #FF8D00;
	margin-top: 17px;
}

.p6{
	margin-top: 15px;
	text-align: center;
	color: gray;
	font-size: 13px;
	opacity: 0.7;
}

.p9{
	margin-left: 110px;
	margin-bottom: 10px;
}

.p10{
	font-size: 15px;
	line-height: 26px;
}

.p11{
	margin-left: 170px;
	margin-bottom: 10px;
}

.p12{
	font-size: 15px;
	margin-top: 20px;
	line-height: 24px;
	color: #bcccfc;
}

.p13{
	margin-top: 50px;
	margin-left: 25px;
}

.p14{
	margin-left: 140px;
	font-size: 14px;
	color: white;
	opacity: 0.7;
}

/*---------------------------------*/

#main_manu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	background: #F6F8FB;
}

#main_manu li{
	display: inline-block;
	position: relative;
}

#main_manu li a{
	display: block;
	padding: 14px 17px;
	color: black;
	text-decoration: none;
}

#main_manu li{
	font-size: 12px;
}

#main_manu li a:hover{
	background: white;
	color: black;
}

#main_manu ul ul{
	position: absolute;
	left: 0;
	top: 43px;
	background: blue;
	width: 170px;
	color: black;
	display: none;
}

#main_manu ul ul li{
	display: block;
}

#main_manu ul li:hover ul{
	display: block;
}

#main_manu ul li:hover .a2{
	color: blue;
}

#main_manu ul li:hover li a{
	background: white;
	transition: 1s;
}

#main_manu ul ul li a:hover{
	background: blue;
	color: white;
}

.rotation{
	animation: mymove 8s infinite;
}

@keyframes mymove {
  50% {transform: rotate(180deg);
}